#problem_write_title{
height:20px;
margin:10px 0px 0px 0px;
padding: 5px 0px 0px 5px;
width: 70%;
}

#problem_write_content{
height:100px;
margin:3px 0px 0px 0px;
padding: 5px 0px 0px 5px;
width: 70%;
}

#problem_content{
margin:10px 0px 0px 0px;
}